{
    "swagger": "2.0",
    "info": {
        "title": "Tutor4all API",
        "description": "This is tutor4all api",
        "termsOfService": "",
        "contact": {
            "email": "marslanali@gmail.com"
        },
        "license": {
            "name": "Private License",
            "url": "#"
        },
        "version": "1.0.0"
    },
    "host": "tutor4all-api.shayansolutions.com",

    "basePath": "/",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/get-phone-code": {
            "get": {
                "summary": "Get a phone verification pin code",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number to generate code",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "422": {
                        "description": "Invalid phone value"
                    }
                }
            }
        },
        "/verify-phone-code": {
            "post": {
                "summary": "Save phone verification code",
                "description": "",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number to generate code",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Code number",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Phone code has been verified"
                    },
                    "422": {
                        "description": "Invalid or expired phone code"
                    }
                }
            }
        },
        "/register-student": {
            "post": {
                "summary": "Register student",
                "description": "",
                "operationId": "addPet",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "Phone code",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Phone code has been verified"
                    },
                    "422": {
                        "description": "Invalid or expired phone code"
                    }
                }
            }
        },
        "/get-classes": {
            "get": {
                "summary": "Get Classes",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "422": {
                        "description": "Class not found"
                    }
                }
            }
        },
        "/get-class-subjects": {
            "get": {
                "summary": "Get Class subjects",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "class",
                        "in": "query",
                        "description": "Class Id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "422": {
                        "description": "Invalid programme value"
                    }
                }
            }
        },
        "/get-students": {
            "get": {
                "summary": "Get user",
                "description": "",
                "operationId": "getUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "role_id",
                        "in": "header",
                        "description": "Roleid",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's List"
                    },
                    "422": {
                        "description": "Un Processable Entry"
                    }
                }
            }
        },

        "/get-profile": {
            "get": {
                "summary": "Get user profile",
                "description": "",
                "operationId": "getUserProfile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's Profile"
                    },
                    "422": {
                        "description": "Un Processable Entry"
                    }
                }
            }
        },

        "/update-location": {
            "post": {
                "summary": "Update Location",
                "description": "",
                "operationId": "updateLocation",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "User ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Location updated"
                    },
                    "422": {
                        "description": "Unable to update location"
                    }
                }
            }
        },

        "/get-tutors-profile": {
            "post": {
                "summary": "Get Tutors",
                "description": "",
                "operationId": "GetTutors",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "class_id",
                        "in": "query",
                        "description": "Class id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "subject_id",
                        "in": "query",
                        "description": "Subject id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "is_home",
                        "in": "query",
                        "description": "Home or Call i.e. 1 for Home",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "is_group",
                        "in": "query",
                        "description": "Individual or group",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Location updated"
                    },
                    "422": {
                        "description": "Unable to update location"
                    }
                }
            }
        },

        "/get-all-subjects": {
            "get": {
                "summary": "Get All subjects",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "422": {
                        "description": "Invalid programme value"
                    }
                }
            }
        },

        "/oauth/token": {
            "post": {
                "summary": "Loggedin",
                "description": "",
                "operationId": "loggedin",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "securitySchemes": {
                    "oAuthSample": {
                        "type": "oauth2",
                        "authorizationUrl": "tutor4all-api.shayansolutions.com",
                        "flow": "implicit",
                        "scopes": {}
                    }
                },
                "parameters": [
                {
                    "name": "grant_type",
                    "in": "body",
                    "description": "Grant Type",
                    "required": false,
                    "type": "string",
                    "schema":{
                        "type":"object",
                        "properties":{
                            "grant_type":{
                                "type":"string",
                                "example":"password"
                            },
                            "client_id":{
                                "type": "integer",
                                "format": "int64"
                            },
                            "client_secret":{
                                "type":"string",
                                "example":"GGVvl9PxUGmdrg9Bji5RWSbJBeIW5JAMsK07fC66"
                            },
                            "username":{
                                "type":"string",
                                "example":"1-740-482-0983 x5989"
                            },
                            "password":{
                                "type":"string",
                                "example":"123456"
                            },
                            "scope":{
                                "type":"string",
                                "example":"*"
                            },
                            "role":{
                                "type":"string",
                                "example":"user"
                            }

                        }
                    }
                }

                ],

                "responses": {
                    "200": {
                        "description": "Phone code has been verified"
                    },
                    "422": {
                        "description": "Invalid or expired phone code"
                    }
                }
            }
        }

    },

    "definitions": {}
}
